<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="style.css" />
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

	<script src="Scripts/ExplorerModule.js"></script>
</head>
<body ng-app="explorerApp" ng-controller="ExplorerCtrl">

<br>
    <table border="1" id="files">
        <thead>
            <tr>
                <th>Less 10 MB</th>
                <th>10 - 50 MB</th>
                <th>>100 MB</th>
            </tr>
        </thead>
        <tr>
            <td ng-repeat="fs in filesizes">{{fs}}</td>
        </tr>
    </table>
    <div><span id="currentDirectory">Current path:</span> {{currentPath}}</div>
    <div ng-repeat="directory in directories" ng-click="dosmth(directory, currentPath)"><a href="">{{directory}}</a></div>
	<div ng-repeat="file in files">{{file}}</div>



</body>
</html>

